# IMDb Database

In [1]:
import sqlite3

conn = sqlite3.connect('IMDb.db')

print ("Opened database successfully")

Opened database successfully

In [1]:
# import library 
import pandas as pd
import sqlite3
import random
import uuid

In [3]:
# function to clean the country column 
def change_country (df, name): # df <- name of the df & name <- name of the column
    for i in range(len(df[name])):
        if str(df[name][i]) == "nan":
            df[name][i] = "Not Available"
        else:
            country_array = df[name][i].split(",")
        
            if isinstance(country_array, list):
                df[name][i] = country_array[0].strip()
                
    return df

## Movie Table

In [4]:
# importing the movie data 
movie_df = pd.read_csv('../database_data/movies.csv')
# changing country format
movie_df = change_country(movie_df, "country")
# dropping columns
movie_df = movie_df.drop(columns=['date_added', 'type', 'listed_in'])
# renaming
movie_df = movie_df.rename(columns = {"rating": "is_adult"})

/var/folders/br/p7fqctvs3sj1q9tn7nvxl28c0000gn/T/ipykernel_25522/1691752638.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = country_array[0].strip()
/var/folders/br/p7fqctvs3sj1q9tn7nvxl28c0000gn/T/ipykernel_25522/1691752638.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = "Not Available"

In [5]:
# changing duration into float 
duration_array = []

for i in range(len(movie_df)):
    number = str(movie_df["duration"][i]).split()

    if number[0] == "nan":
        duration_array.append(60)
    else:
        duration_array.append(int(number[0]))
    
movie_df["duration"] = duration_array
movie_df

,show_id,title,country,release_year,is_adult,duration,description
0,s1,Dick Johnson Is Dead,United States,2020,PG-13,90,"As her father nears the end of his life, filmm..."
1,s7,My Little Pony: A New Generation,Not Available,2021,PG,91,Equestria's divided. But a bright-eyed hero be...
2,s8,Sankofa,United States,1993,TV-MA,125,"On a photo shoot in Ghana, an American model s..."
3,s10,The Starling,United States,2021,PG-13,104,A woman adjusting to life after a loss contend...
4,s13,Je Suis Karl,Germany,2021,TV-MA,127,After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...
6126,s8802,Zinzana,United Arab Emirates,2015,TV-MA,96,Recovering alcoholic Talal wakes up inside a s...
6127,s8803,Zodiac,United States,2007,R,158,"A political cartoonist, a crime reporter and a..."
6128,s8805,Zombieland,United States,2009,R,88,Looking to survive in a world taken over by zo...
6129,s8806,Zoom,United States,2006,PG,88,"Dragged from civilian life, a former superhero..."
6130,s8807,Zubaan,India,2015,TV-14,111,A scrappy but poor boy worms his way into a ty...

## Genre Table

In [6]:
# improting the original dataset to get all the genre 
full_df = pd.read_csv('../original data/netflix_titles.csv')

In [7]:
full_df = pd.DataFrame('../Data')

In [34]:
# normalizing the genre and creating each genre to have genre id 
genre = {}

for i in range(len(full_df)):
    
    genres = full_df["listed_in"][i].split(",")
    
    for j in genres:
        j = j.strip()
        if j not in genre.keys():
            genre[j] = uuid.uuid4()

genre_df = pd.DataFrame()
genre_df["genre_type"] = genre.keys() 
genre_df["genre_id"] = genre.values()
genre_df

                      genre_type                              genre_id
0                  Documentaries  80ae330f-1d08-407f-9ab4-ded26c3992c6
1         International TV Shows  47809c98-9f35-42a7-9a2c-20ca6f6b46d4
2                      TV Dramas  91671d42-b24a-4b7c-99bb-087bcab41bdb
3                   TV Mysteries  6cfc20d6-2820-48b5-9121-6b17300b88f8
4                 Crime TV Shows  1fa1d472-d79a-49e3-8cdc-cc3aa3074e95
5          TV Action & Adventure  f2cea8ec-2469-4f71-b32c-411c7a29ee6a
6                     Docuseries  5c2eb565-e3a1-4b91-90f2-619b6df567a9
7                     Reality TV  f86cf495-c5e0-4477-a79b-f9a55eaec4c7
8              Romantic TV Shows  438f3608-ebfe-4a78-a83c-7bc6f5f2a7c4
9                    TV Comedies  64aeadbe-3f3f-4df0-8f0e-9170f8db8720
10                     TV Horror  08889b37-cb0b-4d37-82fb-bd586784bc77
11      Children & Family Movies  1e4a5426-6009-4ebd-8209-855567a587a1
12                        Dramas  bac69e57-5d4e-4807-86b0-4b1f48e46da4
13            Independent Movies  c44f4cb7-a1d9-4a7a-983a-1c03afd920ab
14          International Movies  697d45ed-4b7d-40f1-abd5-811e5d7d6705
15              British TV Shows  4bc2962d-220a-4cc8-bafa-ec5acb068fcc
16                      Comedies  d19057d2-3e1a-46f4-b336-a400ccf5603c
17     Spanish-Language TV Shows  be9ee0be-c4a6-43d3-ae90-1bbdf9bcda78
18                     Thrillers  8f45181d-2535-43cf-b582-2d6d248ee64c
19               Romantic Movies  050d5e9f-315b-4c49-89c1-66d0024dd881
20              Music & Musicals  ccacff4a-da0d-414c-9555-401e2d2ab7e4
21                 Horror Movies  58971143-bf75-4ab0-b3c9-ad1fde7fb4df
22              Sci-Fi & Fantasy  ee016c06-7588-468f-8a3a-45c12435ec09
23                  TV Thrillers  c374c34a-e29a-4aa9-9736-8a98a059b58e
24                      Kids' TV  81954801-79a7-4cef-827a-dfe1505d9106
25            Action & Adventure  51ac6cb7-42be-489f-b57e-f0a2c0c6a183
26           TV Sci-Fi & Fantasy  e7ad8340-380e-47b9-af03-4927e2902716
27                Classic Movies  685cf272-4080-4d45-b65e-88b6ac6250d1
28                Anime Features  8262b20d-f08c-468f-a5ac-277311039944
29                 Sports Movies  0502f106-60d5-44d6-b420-d74177785007
30                  Anime Series  6de3e630-fdaf-475a-90c5-6f9d7f4cb414
31               Korean TV Shows  a1ba393f-f9a7-4cea-b365-9199a217a3e4
32           Science & Nature TV  3a95f616-8a27-442a-888c-187cea6cc293
33                 Teen TV Shows  4df4bae8-b1fb-4a69-b4a7-46bbf3b4649e
34                   Cult Movies  79b4aecc-d879-4ef7-ae3e-e33a48459129
35                      TV Shows  fa235051-2470-45b7-9b10-fc59dd6dfd14
36          Faith & Spirituality  b9d5257e-801e-4260-b8b7-f3bdfd250e51
37                  LGBTQ Movies  c228bed9-5441-4c1b-9ca9-079bf725a452
38               Stand-Up Comedy  8ce262a5-2505-432d-ac3c-3d8d1d984587
39                        Movies  9afcbc43-8b59-47bf-965e-f5c2fe5b89c1
40  Stand-Up Comedy & Talk Shows  c69c0946-7a36-457d-bd8b-020bececdd69
41             Classic & Cult TV  2f00ae60-2e2d-49ca-b419-5d705cc838d3

## TV Shows Table

In [8]:
shows_df = pd.read_csv("../database_data/tv_shows.csv")
# changing country format
shows_df = change_country(shows_df, "country")
# dropping columns
shows_df = shows_df.drop(columns=['date_added', 'type', 'listed_in'])
# renaming
shows_df = shows_df.rename(columns = {"rating": "is_adult", "duration": "num_seasons"})

/var/folders/br/p7fqctvs3sj1q9tn7nvxl28c0000gn/T/ipykernel_25522/1691752638.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = country_array[0].strip()
/var/folders/br/p7fqctvs3sj1q9tn7nvxl28c0000gn/T/ipykernel_25522/1691752638.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = "Not Available"

In [9]:
season_array = []

for i in range(len(shows_df)):
    number = str(shows_df["num_seasons"][i]).split()

    if number[0] == "nan":
        season_array.append(60)
    else:
        season_array.append(int(number[0]))
    
shows_df["num_seasons"] = season_array
shows_df

,show_id,title,country,release_year,is_adult,num_seasons,description,num_episodes
0,s2,Blood & Water,South Africa,2021,TV-MA,2,"After crossing paths at a party, a Cape Town t...",19
1,s3,Ganglands,Not Available,2021,TV-MA,1,To protect his family from a powerful drug lor...,13
2,s4,Jailbirds New Orleans,Not Available,2021,TV-MA,1,"Feuds, flirtations and toilet talk go down amo...",20
3,s5,Kota Factory,India,2021,TV-MA,2,In a city of coaching centers known to train I...,12
4,s6,Midnight Mass,Not Available,2021,TV-MA,1,The arrival of a charismatic young priest brin...,21
...,...,...,...,...,...,...,...,...
2671,s8796,Yu-Gi-Oh! Arc-V,Japan,2015,TV-Y7,2,Now that he's discovered the Pendulum Summonin...,22
2672,s8797,Yunus Emre,Turkey,2016,TV-PG,2,"During the Mongol invasions, Yunus Emre leaves...",15
2673,s8798,Zak Storm,United States,2016,TV-Y7,3,Teen surfer Zak Storm is mysteriously transpor...,16
2674,s8801,Zindagi Gulzar Hai,Pakistan,2012,TV-PG,1,"Strong-willed, middle-class Kashaf and carefre...",14
2675,s8804,Zombie Dumb,Not Available,2018,TV-Y7,2,"While living alone in a spooky town, a young g...",22

## Movie/Show Table
This is a table that contain each movie and their genres.

In [10]:
# matching each movie or series to their respective genre
movie_show_genre = {}

# looping every row and matching the correct genre Id
for i in range(len(full_df)):
    show_id = full_df["show_id"][i]
    genres = full_df["listed_in"][i].split(',')
    
    if len(genres) == 1:
        genre_id = genre[genres[0]] 
        movie_show_genre[show_id] = genre_id
    else:
        for j in genres:
            j = j.strip()
            genre_id = genre[j]
            if show_id in movie_show_genre: 
                contains = movie_show_genre[show_id]
                movie_show_genre[show_id] = [genre_id , *contains]
            else:
                movie_show_genre[show_id] = [genre_id]

In [11]:
movie_show_df = pd.DataFrame()

movie_show_id_column = []

for i in movie_show_genre.keys():
    id_array = movie_show_genre[i]
    if isinstance(id_array, list):
        for j in id_array:
            movie_show_id_column.append(i)
    else:
        movie_show_id_column.append(i)

def get_all_values(d):
    genre_id_array = []
    for i in d.keys():
        if isinstance(d[i], list):
            for j in d[i]:
                genre_id_array.append(j)
        else:
                genre_id_array.append(d[i])
                
    return genre_id_array
            
        
movie_show_df["movie_show_id"] = movie_show_id_column
movie_show_df["genre_id"] = get_all_values(movie_show_genre)
movie_show_df

      movie_show_id                              genre_id
0                s1  80ae330f-1d08-407f-9ab4-ded26c3992c6
1                s2  6cfc20d6-2820-48b5-9121-6b17300b88f8
2                s2  91671d42-b24a-4b7c-99bb-087bcab41bdb
3                s2  47809c98-9f35-42a7-9a2c-20ca6f6b46d4
4                s3  f2cea8ec-2469-4f71-b32c-411c7a29ee6a
...             ...                                   ...
19318         s8806  d19057d2-3e1a-46f4-b336-a400ccf5603c
19319         s8806  1e4a5426-6009-4ebd-8209-855567a587a1
19320         s8807  ccacff4a-da0d-414c-9555-401e2d2ab7e4
19321         s8807  697d45ed-4b7d-40f1-abd5-811e5d7d6705
19322         s8807  bac69e57-5d4e-4807-86b0-4b1f48e46da4

[19323 rows x 2 columns]